/* You can add global styles to this file, and also import other style files */
$primary: #0066cc;
// $primary: #5c7649;
$border-radius: 1pt;
$modal-content-border-radius: 6pt;
$success: #1e4f18;
// $danger: #a30000;
$link-decoration: none;
$input-group-addon-bg: white;
$offcanvas-horizontal-width: 300px;
$card-cap-bg: white;
// $card-cap-color: white;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// a {
//     color: $primary;
// }

.dropdown-toggle::after {
    content: none;
}
